.fc-daygrid-day-number,.fc-col-header-cell-cushion {
    text-decoration: none;
}
div .speedometer {
    height: 188px !important;
}
.tablecontainer2 {
    background: #FFFFFF;
    box-shadow: 0px 18px 26px rgb(0 0 0 / 5%);
    border-radius: 20px;
    width: 100% !important;
    overflow: auto;
    max-height: calc(100vh - 200px);
  }
  .tablefont-align{
    font-weight:700 !important;
    text-align: center !important;
  }

  #root {
    background-color: #dddddd33;
  }
